<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @spltrain.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @spltrain.date %>
</p>

<%= link_to 'Edit', edit_spltrain_path(@spltrain) %> |
<%= link_to 'Back', spltrains_path %>
