<p id="notice"><%= notice %></p>

<h1>Runschedules</h1>

<table>
  <thead>
    <tr>
      <th>Newarrtime</th>
      <th>Newdepttime</th>
      <th>Newplatformnum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @runschedules.each do |runschedule| %>
      <tr>
        <td><%= runschedule.newarrtime %></td>
        <td><%= runschedule.newdepttime %></td>
        <td><%= runschedule.newplatformnum %></td>
        <td><%= link_to 'Show', runschedule %></td>
        <td><%= link_to 'Edit', edit_runschedule_path(runschedule) %></td>
        <td><%= link_to 'Destroy', runschedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Runschedule', new_runschedule_path %>
