<p id="notice"><%= notice %></p>

<p>
  <strong>Arrtime:</strong>
  <%= @schedule.arrtime %>
</p>

<p>
  <strong>Depttime:</strong>
  <%= @schedule.depttime %>
</p>

<p>
  <strong>Platformnum:</strong>
  <%= @schedule.platformnum %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
